.event-title {
  display: block;
  background-color: #777;
  color: white;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s ease;
}

.event-title:hover {
  background-color: #555;
  transform: scale(1.05);
}


.event-checkbox {
  display: none;
}

/* Сховуємо інформацію про захід за замовчуванням */
.event-details {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  margin-top: 5px;
  border-radius: 5px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Якщо чекбокс вибраний, показуємо інформацію */
.event-checkbox:checked + .event-details {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
